<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Porch Tasks</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
  </head>
  <body>
    <h3>Porch Tasks</h3>
    <table class="table" id="tasks">
      <tfoot>
        <tr>
          <th scope="col">Pipeline Name</th>
        </tr>
      </tfoot>
      <thead>
        <tr>
          <th scope="col">Pipeline Name</th>
          <th scope="col">Pipeline Version</th>
          <th scope="col">Task Input</th>
          <th scope="col">Status</th>
          <th scope="col">Status Date</th>
          <th scope="col">Date Created</th>
        </tr>
      </thead>
    </table>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script>
      new DataTable('#tasks', {
        initComplete: function () {
          // Put footer above column titles
          $('#tasks tfoot tr').insertBefore($('#tasks thead tr'))
          this.api().columns().every( function () {
            let column = this;
            if (column.title() != 'Pipeline Name')
              return;

            // Replace footer title with select element
            let select = document.createElement('select');
            select.add(new Option('All Pipelines'));
            column.footer().replaceChildren(select);

            // Apply listener for user change in value
            select.addEventListener('change', function () {
                let value = select.value == 'All Pipelines' ? '' : select.value;
                column
                    .search(value, {exact: true})
                    .draw();
            });

            // Add list of options
            column
              .data()
              .unique()
              .sort()
              .each(function (d, j) {
                option = new Option(d);
                select.add(new Option(d));
              });

            // Set initial value
            {% if pipeline_name %}
              select.value = "{{ pipeline_name }}";
              select.dispatchEvent(new Event('change'));
            {% endif %}
          });
        },
        ajax: '/ui/tasks/',
        processing: true,
        columns: [
          { data: 'pipeline.name' },
          { data: 'pipeline.version' },
          { data: 'task_input',
            render: function(data, type, row) {
              return JSON.stringify(data).replaceAll(",", ", ");
            }
          },
          { data: 'status' },
          { data: 'updated' },
          { data: 'created' }
        ]
      })
    </script>
    <div class="text-center">Copyright Genome Research Ltd 2025 - version: {{ version }} - <a href="/about">about</a></div>
  </body>
</html>
